:root {
  --static-color-static-black: #000000;
  --static-color-static-white: #ffffff;
  --static-color-static-red-800: #e81300;
  --static-color-static-blue-800: #0a85b5;

  --scale-dimension-font-size-10000: 3rem;
  --scale-dimension-font-size-9000: 2.625rem;

  --semantic-typography-h1-font-size: var(--scale-dimension-font-size-10000);
  --semantic-typography-h2-font-size: var(--scale-dimension-font-size-9000);
}
